.content-title {
    height: 12vh;
    position: relative;
    padding-left: 28vw;
}

h2 {
    position: absolute;
    left: 0;
    bottom: 2vh;
    padding: 0.7em;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 200;
    background-color: rgb(247, 228, 206);
    border-radius: 2px;
}

.content-title img {
    border-radius: 0.5em;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0 1vh;
}

.navigation button,
.marks-btn {
    padding: 0.5em 0.6em;
    border: solid 0.5px rgba(95, 158, 160, 0.164);
    background-color: rgb(188, 221, 231);
    color: rgb(69, 69, 77);
    text-transform: uppercase;
    font-weight: 600;
}

.navigation .active,
.daysPlan_add-day {
    background-color: rgb(86, 175, 126);
    transform: scale(1.1);
    color: aliceblue;
}

.content {
    height: 62vh;
    padding: 0.5em 2vw;
}

.daysPlan_nav {
    display: flex;
    align-items: center;
    column-gap: 1em;
    overflow-x: scroll;
}

.daysPlan_nav::-webkit-scrollbar {
    display: none;
}

.daysPlan_btn {
    min-width: 30vw;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px rgba(151, 148, 136, 0.582);
    border-radius: 1em;
}

.daysPlan_btn.active-day,
.daysPlan_day-detail {
    border: solid 3px rgb(255, 207, 47);
}

.daysPlan_btn h3 {
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.daysPlan_btn span {
    font-size: 0.7em;
    opacity: 0.6;
}

.daysPlan_add-day {
    border: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.daysPlan_content ul,
.reserv ul {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2vh 0;
    overflow-y: scroll;
}

.daysPlan_content ul li,
.reserv li {
    display: flex;
    align-items: center;
    column-gap: 1em;
    width: 100%;
}

.daysPlan_day-time {
    background-color: rgb(255, 207, 47);
    padding: 0.2em 0.5em;   
    border-radius: 0.3em;
    font-weight: 600;
}

.daysPlan_day-item {
    font-weight: 200;
}

.daysPlan_add-content {
    border: solid 3px rgb(86, 175, 126);
    color: rgb(86, 175, 126);
    font-size: 1.8em;
    padding: 0 0.3em;
    border-radius: 50%;
}

.marks-btn {
    background-color: rgba(255, 239, 146, 0.849);
    width: 100%;
    letter-spacing: 0.3em;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(206, 224, 224, 0.767);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reserv li {
    border-radius: 0.5em;
    padding: 0.7em;
    justify-content: space-between;
    column-gap: 0.5em;
}

.reserv li h4 {
    max-width: 28%;
}

.reserv p {
    width: 52%;
}

.reserv span {
    font-size: 0.8em;
    width: 20%;
    text-align: center;
    text-decoration: underline;
}

.reserv button {
    width: 13%;
    margin: 0 auto;
}

.paid {
    background-color: rgba(153, 205, 50, 0.212);
}

.unpaid {
    background-color: rgba(190, 17, 17, 0.219);
}

.marks button {
    margin-top: 1em;
}

.marks ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
}

.marks ul li {
    width: 30vw;
    height: 30vw;
    border-radius: 0.7em;
    font-size: 0.7em;
    overflow: hidden;
    text-align: justify;
    padding: 0.6em;
    background-color: rgb(255, 207, 47);
}

.marks ul li.opened {
    width: 90vw;
    height: 50vw;
    font-size: 1em;
}