.content-title {
    height: 12vh;
    position: relative;
    padding-left: 28vw;
}

h2 {
    position: absolute;
    left: 0;
    bottom: 2vh;
    padding: 0.7em;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 200;
    background-color: rgb(247, 228, 206);
    border-radius: 2px;
}

.content-title img {
    border-radius: 0.5em;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0 1vh;
}

.navigation button,
.marks-btn {
    padding: 0.5em 0.6em;
    border: solid 0.5px rgba(95, 158, 160, 0.164);
    background-color: rgb(188, 221, 231);
    color: rgb(69, 69, 77);
    text-transform: uppercase;
    font-weight: 600;
}

.navigation .active,
.daysPlan_add-day {
    background-color: rgb(86, 175, 126);
    transform: scale(1.1);
    color: aliceblue;
}

.content {
    height: 62vh;
    padding: 0.5em 2vw;
}

.daysPlan_nav {
    display: flex;
    align-items: center;
    column-gap: 1em;
    overflow-x: scroll;
}

.daysPlan_nav::-webkit-scrollbar {
    display: none;
}

.daysPlan_btn {
    min-width: 30vw;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px rgba(151, 148, 136, 0.582);
    border-radius: 1em;
}

.daysPlan_btn.active-day,
.daysPlan_day-detail {
    border: solid 3px rgb(255, 207, 47);
}

.daysPlan_btn h3 {
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.daysPlan_btn span {
    font-size: 0.7em;
    opacity: 0.6;
}

.daysPlan_add-day {
    border: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.daysPlan_content ul,
.reserv ul,
.budjet_wish-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2vh 0;
    overflow-y: scroll;
}

.daysPlan_content ul li,
.reserv li,
.budjet_wish-list li {
    display: flex;
    align-items: center;
    column-gap: 1em;
    width: 100%;
}

.daysPlan_day-time {
    background-color: rgb(255, 207, 47);
    padding: 0.2em 0.5em;   
    border-radius: 0.3em;
    font-weight: 600;
}

.daysPlan_day-item {
    font-weight: 200;
}

.daysPlan_add-content {
    border: solid 3px rgb(86, 175, 126);
    color: rgb(86, 175, 126);
    font-size: 1.8em;
    padding: 0 0.3em;
    border-radius: 50%;
}

.marks-btn {
    background-color: rgba(255, 239, 146, 0.849);
    width: 100%;
    letter-spacing: 0.3em;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(206, 224, 224, 0.767);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reserv li {
    border-radius: 0.5em;
    padding: 0.7em;
    justify-content: space-between;
    column-gap: 0.5em;
}

.reserv li h4 {
    max-width: 28%;
}

.reserv p {
    width: 52%;
}

.reserv span {
    font-size: 0.8em;
    width: 20%;
    text-align: center;
    text-decoration: underline;
}

.reserv button {
    width: 13%;
    margin: 0 auto;
}

.paid {
    background-color: rgba(153, 205, 50, 0.212);
}

.unpaid {
    background-color: rgba(190, 17, 17, 0.219);
}

.marks button {
    margin-top: 1em;
}

.marks ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
}

.marks ul li {
    width: 30vw;
    height: 30vw;
    border-radius: 0.7em;
    font-size: 0.7em;
    overflow: hidden;
    text-align: justify;
    padding: 0.6em;
    background-color: rgb(255, 207, 47);
}

.marks ul li.opened {
    width: 90vw;
    height: 50vw;
    font-size: 1em;
}

.checkList {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
}

.checkList button {
    height: 8%;
}

.checkList_tab {
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

svg {
    width: 100%;
    height: 100%;
}

.checkList_tab li {
    padding: 0.5em;
    border-radius: 1em 0 0 0.5em;
    border: 2px solid rgba(1, 72, 112, 0.562);
    border-right: none;
}

.checkList_tab li.active-list {
    background-color: rgba(148, 236, 96, 0.651);
}

.checkList section {
    height: 80%;
    width: 85%;
    border-left: 2px solid rgba(1, 72, 112, 0.562) !important;
}

.checkList section ul {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkList section li {
    display: flex;
    column-gap: 0.7em;
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    align-items: center;
}

.sqvr {
    width: 1.5em;
    height: 1.5em;
    border: solid 1px black;
}

.done::after {
    content: 'X';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budjet_saved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(92, 148, 60, 0.651);
    padding: 0 1em;
}

.budjet_saved button {
    padding: 0.5em 1em;
    max-height: fit-content;
    border: none;
    background-color: rgba(92, 148, 60, 0.651);
    border-radius: 0.5em;
    text-transform: uppercase;
    color: aliceblue;
}

.budjet_saved h3 {
    position: relative;
    margin-bottom: 0.5em;
}

.budjet_saved span {
    position: absolute;
    right: 0;
    bottom: -50%;
    font-size: 0.7em;
}

.budjet_wish-list button {
    padding: 0.5em 4em;
    max-height: fit-content;
    border: 2px solid rgba(92, 148, 60, 0.651);
    border-radius: 0.5em;
    text-transform: uppercase;
    font-size: 0.7em;
}

.budjet_wish-list ul li span{
    background-color: rgba(92, 148, 60, 0.116);
    padding: 0.4em;
    font-size: 0.7em;
}

.budjet_wish-list ul li span:first-child {
    width: 70%;
}

.budjet_wish-list ul li span:last-child {
    width: 29%;
}


.red {
    color: brown;
}

.green {
    color: darkgreen;
}

.budjet-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.budjet-btns button {
    width: 40%;
    border: 1px solid rgba(105, 105, 105, 0.356);
    text-transform: uppercase;
    color: aliceblue;
}

.budjet-btns button:first-child {
    background-color: rgba(92, 148, 60, 0.651);
}

.budjet-btns button:last-child {
    background-color: rgba(201, 13, 0, 0.651);
}