:root {
  --bg: #f4f6f8;
  --card: #ffffff;
  --text: #1f2933;
  --lowaccent: #f0cb52b6;
  --accent: #f0cb52;
  --muted: #e7e7e5;
  --primary: hsl(125, 61%, 43%);
  --border: #e5e7eb;
  --bad: rgb(197, 50, 50);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  font-family: system-ui, sans-serif;
  color: var(--text);
}

.app {
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
}

/* HEADER */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}

.logo {
  font-size: 1.4rem;
}

.top-actions {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  width: 11vw;
  height: 5vh;
  border-radius: 0.3rem;
  font-weight: 900;
  border: none;
  font-size: 2em;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.finance-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5px;
}

/* CARDS */
.card {
  background: var(--card);
  border-radius: 0.4em;
  padding: 1em;
  box-shadow: 0 8px 20px rgba(0,0,0,.05);
}

.card h3 {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

/* FINANCES */
.finances {
  width: 60%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.finance-main {
  font-size: 2.6em;
  font-weight: 600;
}

.finance-actions {
  margin-top: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.finance-actions button {
  width: 49%;
  padding: 0.75em;
  font-size: 1em;
  text-transform: uppercase;
}

/* PROGRESS */
.progress {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.progress-text {
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  line-height: 1;
  color: #484e5350;
  font-weight: 600;
}

.progress-text span:first-child {
  display: block;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--text);
}

.progress-bar {
  height: 1em;
  width: 100%;
  background: var(--muted);
  border-radius: 0.7rem;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
}

.bad {
  background-color: var(--bad);
}

.progress-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 34%;
  column-gap: 5%;
}

.finance-open {
  width: 100%;
  letter-spacing: 0.07em;
}

/* OVERVIEW */
.date {
  color: var(--text);
  font-size: 2em;
  margin-top: 1em;
}

.tasks-section {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tasks-section section {
  width: 49%;
  height: 100%;
}

/* TASKS */
.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 2%;
  height: 100%;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  height: 45%;
}

.tasks-header button {
  font-size: 5em;
}

.daily-list {
  font-size: 0.95em;
  font-weight: 300;
}

.tasks-info {
  display: flex;
}

/* WEIGHT */
.weight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 5%;
  height: 100%;
}

.weight-value {
  width: 49%;
  text-transform: lowercase;
}

.weight-line {
  width: 100%;
  height: 10%;
  background: var(--muted);
  border-radius: 0.7rem;
  overflow: hidden;
}

.weight-line div {
  height: 100%;
}

.weight button {
  width: 100%;
  text-transform: uppercase;
}

/* BUTTONS */
.square-btn {
  width: 49%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-btn {
  padding: 0.6em;
  border-radius: 0.5rem;
  border: none;
}

.primary-btn {
  padding: 0.6em;
  border-radius: 0.5rem;
  border: none;
  background: var(--primary);
  color: var(--card);
  font-weight: 700;
  word-spacing: 0.2em;
  text-transform: uppercase;
}

.primary-btn.full {
  width: 100%;
  margin-top: 12px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: var(--card);
  border-radius: 18px;
  padding: 20px;
  width: 90%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input,
.modal-content textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.modal-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.chip {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: var(--bg);
}

/* modal end */

.add-btn {
  background: var(--primary);
  color: var(--card);
}

.accent-btn {
  background: var(--accent);
  color: var(--card);
}

.low-accent {
  background: var(--lowaccent);
  color: var(--card);
}

.just-btn {
  background: var(--muted);
  color: var(--card);
}

.bad-btn {
  background: var(--bad);
  color: var(--card);
}