h2 {
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-bottom: 1em;
}

.list-content {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.list-content_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
}

.list-content_item h4 {
    width: 70%;
}

.list-content_btn {
    background-color: brown;
    padding: 0.2em;
}