h2 {
    text-align: center;
}

.dashboard_content {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.dashboard_block {
    width: 50%;
    padding: 1em;
}

.dashboard_title-inner {
    border-radius: 1em;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.096);
}

.dashboard_title-inner p {
    font-size: 0.8em;
}

.dashboard_detailes-inner {
    height: 0;
    border-radius: 0.5em;
    padding: 0.2em;
    margin-top: 0.2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 250, 244, 0.801);
}

.fit-content {
    height: fit-content !important;
}

.dashboard_detailes-inner ul {
    width: 100%;
    padding: 0.5em 0.2em;
    row-gap: 1em;
}

.dashboard_detailes-inner li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.dashboard_detailes-inner li p {
    font-size: 0.6em;
}

footer {
    display: flex;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.modal-content h2 {
    width: 100%;
}

.modal-block_name,
textarea,
.modal-content h3,
.modal-block_task-list {
    width: 70%;
}

.modal-content li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content li h4 {
    width: 55%;
    font-size: 0.8rem;
}

.modal-content li p {
    font-size: 0.8em;
}

.modal-content li button {
    width: 15%;
    height: 1em;
    font-size: 0.6em;
}